{% extends 'base.html' %}
{% block title %} 
    Rho's Secrets
{% endblock %}
{% load static %}
{% block content %}
	<div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/blog.jpg' %}" class="responsive-img" style="filter: blur(2px); "></div>
        <div  class="center-align">
            <h5>✍🏽💅🏽🙏🏽👩🏽‍🎓🩱💄💋💔💕</h5>
            <br>
            <br>
            <br>
            <h2 style="color: #1a237e;">Diary Archives</h2>
            <h4 style="color: #1a237e;"><p>articles that touch</p></h4>
        </div> 
    </div>
    
    <div class="container">
        <div class="row">
          {% if article_content %}
              {% for article in article_content %}
              <div class="col s12 m6">   
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator"
                      {% if article.blog_photo %} 
                       srcset="{{ article.blog_photo.url }}" class="responsive-img"
                      {% else %}
                        srcset="{% static 'img/overhead.jpg' %}" class="responsive-img"
                      {% endif %}
                       >
                      
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{ article.blog_title }}<div class="right">
                        <i class="fas fa-expand"></i></div></span>
                      <p><a href="{{ article.blog_url }}">Read more...</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">{{ article.blog_title }}<div class="right"><i class="fas fa-expand"></i></div></span>
                      <span class="card-title"><a href="/connect/{{ article.blog_author.slug }}" target="_blank" style="color: #303f9f;">
                      {{ article.blog_author }}</a></span>
                      <p>{{ article.short_description }}</p>
                    </div>
                  </div>
              </div>
           {% endfor %}
              {% else %}
                <h2>No Posts Available</h2>
            {% endif %}
          </div>
        {% if article_content.has_other_pages %}
          <ul class="pagination">
            {% if article_content.has_previous %}
              <li class="waves-effect waves-purple" ><a href="?page={{article_content.previous_page_number}}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><a>&laquo;</a></li>
            {%  endif %}
            {% for i in article_content.paginator.page_range %}
              {% if article_content.number == i %}
                <li class="active" style="background-color:#1a237e;"><a>{{ i }}</a></li>
              {% else %}
                <li class="waves-effect waves-purple" ><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if article_content.has_next %}
              <li class="waves-effect waves-purple" ><a href="?page={{article_content.next_page_number}}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><a>&raquo;</a></li>
            {%  endif %}
           <!-- 
            <li class="active" style="background-color:#1a237e;"><a href="#!">1</a></li>
            <li class="waves-effect waves-purple" ><a href="#!">2</a></li>
            <li class="waves-effect waves-purple"><a href="#!">&raquo;</a></li>
          </ul>-->
        {% endif %}
        </div>
    </div>
{% endblock %}